<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='View Animals'">
<th:block layout:fragment="content">
    <div class="container p-t-30">

        <div class="row  p-t-30">

            <div class="col-md-4">
                <div class="jumbotron mail-bg-primary">
                    <h4>Animal Id:</h4>
                    <h5 th:text="${animal.id}"></h5>

                    <h4>Name:</h4>
                    <h5 th:text="${animal.name}"></h5>

                    <h4>Scientific Name:</h4>
                    <h5 th:text="${animal.scientificName}"></h5>

                    <h4>Price</h4>
                    <h5 th:text="${animal.family}"></h5>
                </div>
            </div>
            <div class="col-md-8">
                <img src="" alt="main image of our animal" />
            </div>
        </div>

        <div class="row">
            generate dynamically grid of images
            the grid should adapt itself based on the native resolution of images
            Or I think we should have a gallery of images in this section maybe allow a max number of images
        </div>
    </div>
</th:block>
</html>