<footer xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}" ></script>
    <script type="text/javascript" th:src="@{/assets/js/dataTables.js}" ></script>
</footer>
